<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3 box-event"
      ng-repeat="e in my.myEvents">
    <div class="event-row">
      <div class="event-date">
        <p>{{e.date | date:'d'}}</p>
        <p>{{e.date | date:'MMM'}}</p>
      </div>
      <h3 class="hidden-sm hidden-md">{{ e.title | limitTo: 12 }}</h3>
      <h3 class="hidden-xs hidden-lg">{{ e.title | limitTo: 8 }}</h3>
      <p class="hidden-sm hidden-md">{{ e.desc | limitTo: 120 }}...</p>
      <p class="hidden-xs hidden-lg">{{ e.desc | limitTo: 80 }}...</p>
      <div class="event-buttons">
        <!-- <a ui-sref="profile.sells" class="btn btn-default btn-sm">Sales</a> -->
        <a ui-sref="profile.newevent({_id: e._id})" class="btn btn-default btn-sm">Edit</a>
        <button class="btn btn-default btn-sm"
            ng-click="my.deleteEvent(e)">Delete</button>
      </div>
    </div>            
  </div>
</div>