<!-- Sidebar -->
<div id="sidebar-wrapper">

  <div class="sidebar-nav">
    <div class="nav-header">
      <img src="assets/images/logo.png" alt="" class="img-responsive">
      <h3 class="text-center">{{ profile.getCurrentUser().name }}</h3>
    </div>
  
  <!-- Desktop Menu -->
  <ul class="hidden-xs">
    <li><a ui-sref=".myevents"><i class="fa fa-home"></i>My events</a></li>
    <li><a ui-sref="profile.newevent({_id: getCurrentUser().name})"><i class="fa fa-bullhorn"></i>New event</a></li>
    <li><a ui-sref=".sells"><i class="fa fa-money"></i>Sales</a></li>
    <li><a ui-sref="logout"><i class="fa fa-sign-out"></i>Logout</a></li>
  </ul>

  <!-- Mobile Menu -->
  <ul class="hidden-sm hidden-md hidden-lg">
    <li><a ui-sref=".myevents" ng-click="profile.changeMenu()"><i class="fa fa-home"></i>My events</a></li>
    <li><a ui-sref="profile.newevent({_id: getCurrentUser().name})"
        ng-click="profile.changeMenu()"><i class="fa fa-bullhorn"></i>New event</a></li>
    <li><a ui-sref=".sells" ng-click="profile.changeMenu()"><i class="fa fa-money"></i>Sales</a></li>
    <li><a ui-sref="logout"><i class="fa fa-sign-out"></i>Logout</a></li>
  </ul>

  </div>
</div>
<!-- /#sidebar-wrapper -->