.signup {

  h1 {
    color: #333;
    margin-bottom: 20px;
  }

  background-color: #f3f3f3;
  margin-top: -20px;

  .signup-section {
    border-top: 1px solid #999;
    padding: 10px 0;
    color: #999;
    text-transform: uppercase;
  }

  button {
    color: #333;
  }
}